<center><h3>Calculation</h3></center>


<form method="post" action="/calculation-submit">

{{!-- PIN 1 --}}
    {{#if pin1}}
  <div class="form-group">
    <label for="exampleFormControlTextarea1">PIN 1</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="PIN1"></textarea>
  </div>
  {{/if}}
   
{{!-- PIN 2 --}}
   {{#if pwm2}}
     <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PWM</h3><label>
        <p>Time Period (0-255)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="timePeriod2"></textarea>
            <p>Duty cycle (%)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="dutyCycle2"></textarea>
  </div>
  {{else}}

    {{#if pin2}}
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PIN 2</h3><label>
        <p>less than >=</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin2GreaterOrEqualto"></textarea>
            <p>less than <= </p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin2LessOrEqualto"></textarea>
    {{#if led2}}
    <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>LED</h3><label>
       <select class="form-control" id="exampleFormControlSelect1" name="onOrOff2">
              <option>ON</option>
        <option>OFF</option>
   </select>
        <p>On Duration</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="onDuration2"></textarea>
            <p>Off Duratioin</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="offDuration2"></textarea>
    </div>
  {{/if}}
  </div>
  {{/if}}

  {{/if}}


   {{!--PIN 3  --}}
      {{#if pwm3}}
     <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PWM</h3><label>
        <p>Time Period (0-255)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="timePeriod3"></textarea>
            <p>Duty cycle (%)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="dutyCycle3"></textarea>
  </div>
  {{else}}
    {{#if pin3}}
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PIN 3</h3><label>
        <p>less than >=</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin3GreaterOrEqualto"></textarea>
            <p>less than <= </p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin3LessOrEqualto"></textarea>
    {{#if led3}}
    <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>LED</h3><label>
       <select class="form-control" id="exampleFormControlSelect1" name="onOrOff3">
              <option>ON</option>
        <option>OFF</option>
   </select>
        <p>On Duration</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="onDuration3"></textarea>
            <p>Off Duratioin</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="offDuration3"></textarea>
    </div>
  {{/if}}
  </div>
  {{/if}}
  {{/if}}

{{!-- PIN 4 --}}
      {{#if pwm4}}
     <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PWM</h3><label>
        <p>Time Period (0-255)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="timePeriod4"></textarea>
            <p>Duty cycle (%)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="dutyCycle4"></textarea>
  </div>
  {{else}}
    {{#if pin4}}
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PIN 4</h3><label>
        <p>less than >=</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin4GreaterOrEqualto"></textarea>
            <p>less than <= </p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin4LessOrEqualto"></textarea>
    {{#if led4}}
    <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>LED</h3><label>
       <select class="form-control" id="exampleFormControlSelect1" name="onOrOff4">
              <option>ON</option>
        <option>OFF</option>
   </select>
        <p>On Duration</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="onDuration4"></textarea>
            <p>Off Duratioin</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="offDuration4"></textarea>
    </div>
  {{/if}}
  </div>
{{/if}}
  {{/if}}

    {{#if pwm5}}
     <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PWM</h3><label>
        <p>Time Period (0-255)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="timePeriod5"></textarea>
            <p>Duty cycle (%)</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="dutyCycle5"></textarea>
  </div>
  {{else}}

{{!-- PIN 5 --}}
    {{#if pin5}}
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>PIN 5</h3><label>
        <p>less than >=</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin5GreaterOrEqualto"></textarea>
            <p>less than <= </p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="Pin5LessOrEqualto"></textarea>
   {{#if led5}}
    <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>LED {{led5}}</h3><label>
       <select class="form-control" id="exampleFormControlSelect1" name="onOrOff5">
              <option>ON</option>
        <option>OFF</option>
   </select>
        <p>On Duration</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="onDuration5"></textarea>
            <p>Off Duratioin</p>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="offDuration5"></textarea>
    </div>
  {{/if}}
    </div>
  {{/if}}
  {{/if}}



     <button type="submit" class="btn btn-primary">Submit</button>
</form>
